/*-----------------------Google Fonts-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
:root{
/*------------------Color--------------*/
--primary-color: #ff5f15;
--secondary-color: #e45615;
--title-color: #fff;
--sub-title-color: #ff5f15;
--text-color: #bbbbbb; 
--background-color: #24292d;
--input-color: #f2f2f2;
--dark-color: #101010;
/*----------Fonts, typography----------*/
--body-font: 'Open Sans', sans-serif;
--xxl-font-size: 3rem;
--xl-font-size: 2rem;
--l-font-size: 1.5rem;
--normal-font-size: 1rem;
--s-font-size: .5rem
--xs-font-size: .938rem;
--xxs-font-size: .75rem;
/*-------Font weight--------*/
--font-light: 300;
--font-normal: 400;
--font-medium: 500;
--font-semi-bold: 600;
--font-bold: 700;
/*----Quick Rems----*/
--r-0-5: .5rem;
--r-0-75: .75rem;
--r-1: 1rem;
--r-1-5: 1.5rem;
--r-2: 2rem;
--r-2-5: 2.5rem;
--r-3: 3rem;
--r-3-5: 3.5rem;
--r-4: 4rem;
--r-4-5: 4.5rem;
--r-5: 5rem;
/*-----z index------*/
--z-small: 1;
--z-normal: 10;
--z-large: 100;
}
/*------------The Base----------*/
*{ 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
}
.main{
  overflow: hidden;
}
.container{
  margin-left: var(--r-1-5);
  margin-right: var(--r-1-5);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

@media screen and (min-width: 768px);
.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: var(--title-color);
  z-index: var(--z-large);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.nav_profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_image{
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
}
.nav_logo{
  font-weight: 700;
  gap: var(--r-0-5);
  letter-spacing: -1px;
  color: #101010;
  text-transform: uppercase;
  padding: 0 .5rem;
}
.nav_picture{
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 50%;
}
.scroll--home{
  background-color: var(--background-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.nav_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item{
  margin: 0 1.5rem;
}
.nav_link{
  color: #101010;  
}
.nav_link:hover{
  color:  var(--primary-color);
}
.active{
  color: var(--primary-color);
}
.nav_toggle{
  display: none;
}
/*------------------Home----------------*/
.home{
  padding: 4rem 0;
}
.home_container{
  display: flex;
  flex-direction: row;
  column-gap: 8rem;
  justify-content: space-between;
  align-items: center;
}
.home_img{
 width: 380px;
 justify-self: center;
 margin-left: -3rem;
}
.home_details{
  padding: 0 1.5rem;
  margin-bottom: var(--r-5);  
}
.home_title{
  font-size: 4rem;
  line-height: 140%;
  color: var(--title-color);
  margin-bottom:var(--r-1);
}
.home_description{
  margin-bottom: var(--r-2);
  font-weight: var(--font-light);
  line-height: 120%;
}
.button{
  display: inline-block;
  color: var(--title-color);
  background-color: var(--primary-color);
  padding: 1rem 1.25rem;
  border-radius: var(--r-0-5);
  font-weight: var(--font-medium);
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
}
.button:hover{
  background-color: var(--secondary-color);
  transform: translatex(.25rem);
}
.about{
  padding-top: .1px;
}
.about_container{
  display: flex;
  justify-content: space-between;
  text-align: center; 
} 
.about_data{
  order: 2;
  text-align: initial;
  padding: 2rem 0;
}
.about_subtitle{
  margin-top: var(--r-1);
  color: var(--title-color);
}
.about_description{
  margin-top: var(--r-0-5);
  line-height: 120%;
}
.about_img{
  width: 320px;
  max-width: 100%;
  margin-top: var(--r-3);
}
.about_button{
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--r-0-5);
  padding: 1rem 1.25rem;
  margin-top: var(--r-2);
  font-size: 1.4rem;
}
.button:hover{
  background-color: var(--secondary-color);
  transform: translateY(-.25rem);
}
.about_title{
  color: var(--primary-color);
  font-weight: var(--font-bold);
}
.agendas{
  padding: 5rem 0;
}
.agenda_container{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.agenda_content{
  padding: 3rem 3rem;
}
.agenda_img{
  display: inline-block;
  width: 250px;
  height: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: var(--r-1);
}
.agenda_img:hover{
  transform: translateY(-.25rem);
}  
.agenda_head{
  text-align: center;
}
.agenda_title{
  color: var(--primary-color);
  font-weight: var(--font-bold);
}
.agenda_subtitle{
  margin-top: 1rem;
  color: var(--title-color);
}
.agenda_topic{
  margin-top: var(--r-1);
  color: var(--title-color);
}
.agenda_description{
  margin-top: .5rem;
  line-height: 120%;
  text-align: initial;
}
.projects_container{
  padding: 6rem 0;
}
.projects_heading{
  text-align: center;
}
.projects_title{
  color: var(--secondary-color);
  font-weight: var(--font-bold);
}
.projects_subtitle{
  margin-top: var(--r-2);
  color: var(--title-color);
}
.projects_contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.projects_img{
  width: 200px;
  fill: var(--secondary-color);
}
.projects_topic{
  margin-top: 0.5rem;
  text-align: center;
  color: var(--title-color);
}

.contact_container{
  padding: 5rem 0;
}
.contact_box{
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.contact_title{
  line-height: 120%;
  font-size: var(--xxl-font-size);
  color: var(--title-color);
}
.contact_subtitle{
  margin-top: var(--r-2);
  color: var(--title-color);
}
.contact_description{
  margin-top: var(--r-1);
}
.contact_heading{
  text-align: center;
  color: var(--secondary-color);
  font-weight: var(--font-bold);
}
.polling_station{
  display: block;
}
.contact_form,
.contact_input,
.contact_button{
  font-family: cursive, sans-serif;
}
.contact_input{
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-top: .8rem;
  margin-bottom: var(--r-1);
  resize: vertical;
  background-color: var(--input-color);;
  outline: none;
  font-family: cursive, sans-serif;
}
.contact_textarea{
  height: 150px;
  resize: none;
  padding-top: .6rem;
}
.contact_button{
  display: inline-block;
  color: white;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: 1rem 1.25rem;
} 
.contact_button:hover{
  background-color: var(--secondary-color);
}
.select_option{
  background-color: var(--primary-color);
  color: var(--title-color);
}
.polling_station{
  color: var(--title-color);
}
footer{
  padding: 3rem 0;  
}
.footer_row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.footer_col{
  display: flex;
  flex-direction: column;
}
.footer_title{
  position: relative;
  font-size: 1.2rem; 
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: var(--r-2);
}
.footer_title::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -.6rem;
	background-color: var(--primary-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer_list,
.footer_links{
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer_link{
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--title-color);
  text-decoration: none;
  font-weight: var(--font-light);
  display: block;
  transition: all 0.3s ease;
}
.footer_list{
  color: var(--title-color);
  font-size: 1rem;
  font-weight: var(--font-light);
}
.footer_link:hover{
  color: var(--text-color);
  padding-left: var(--r-0-5);
}
.footer_social-links a{
  display: inline-block;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: var(--title-color);
  transition: all 0.5s ease;
}
.footer_social-links a:hover{
  color: var(--primary-color);
  
} 
.footer_copy{
  text-align: center;
  margin-top: var(--r-3);
} 
.copy_creator,
.copy_rights{
  color: var(--secondary-color);
  font-weight: var(--font-light);
}
.virtual__link{
  color: var(--secondary-color);
}
.about_title,
.agenda_title,
.projects_title,
.contact_head{
  font-weight: var(--font-semibold);
  font-size: 1.4rem;
}

/*----------------Tablet Mode-------------------*/
@media screen and (max-width: 768px){
body{
  font-size: 1rem;
}
.header{
  padding: 2rem .2rem;
  height: 2rem;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 2rem 0;
  width: 80%;
  height: 100%;
  background-color: #ff5f15;
  transition: .3s;
}
.nav_profile{
  padding: 0 .5rem;
}
.nav_list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5rem;
  margin-left: 0;
}
.nav_item{
  margin-bottom: 4.5rem;
}
.nav_image{
  width: 50px;
  height: 50px;
}
.nav_logo{
  color: #fff;
  text-transform: none;
}  
.nav_link{
  color: #fff;
}
.nav_link:hover{
  color: #242626;
}
.active{
  color: #24262b;
}
.nav_toggle{
  display: block;
  font-size: 2rem;
  cursor: pointer;
  color: #101010;
}
.show-menu{
  left: 0;
}
.home{
  padding: 7rem 0;
}
.home_title{
  font-size: 3rem;
}
.home_img{
  width: 230px;
  height: auto;
  margin-top: -8rem;
  margin-left: -8rem;
}
.about{
  margin-top: -160px;
}
.about_container{
  flex-direction: column;
}
.about_img{
  display: none;
  order: 2;
}
.about_head{
  text-align: center;
}
.agendas{
  padding: 2rem 0;
}
.agenda_container{
  display: flex;
  flex-wrap: ; 
  justify-content: center; 
}
.agenda_img{
  width: 170px;
  height: 170px;
}
.projects_container{
  padding: 2rem 0;
}
.projects_img{
  width: 100px;
  height: 100px;
}
.contact_input{
  width: 240px;
  max-width: 100%;
}
.contact_box{
  gap: .1rem;
}
.footer_col{
  margin-bottom: 2.5rem;
}
}

/*----------------Mobile Phones------------------*/
@media screen and (max-width: 480px){
.header{
  height: 2rem;
}
.home_container{
  flex-direction: column;
}
.home{
  padding: 6rem 0;
}
.home_title{
  font-size: 2.4rem;
}
.home_details{
  padding: 0 0.01rem; 
}
.home_description{

}
.home_img{
  width: 300px;
  height: auto;
  max-width: 100%;
  margin-top: -5rem;
  margin-left: .1rem;
}
.about{
  padding: 40px 0;
}
.about_head,
.projects_contents,
.agenda_container{
  text-align: center;
}
.projects_container{
  padding: 4.5rem 0;
}
.about_container,
.contact_box,
.projects_contents,
.footer_container{
  flex-direction: column;
}
.projects_content{
  margin-top: 2rem;
}
.about_img{
  display: none;
  order: 2;
  width: 320px;
  max-width: 100%;
  padding: 1.5rem 0rem;
  text-align: center;
  align-items: center;
}
.agendas{
  padding: 4.5rem 0;
}
.agenda_container{
  flex-direction: column;
  padding: 0 1rem;
}
.agenda_content{
  text-align: center;
  padding: 3rem 0;
}
.agenda_img{
  width: 200px;
  height: 200px;
  max-width: 100%;
}
.agenda_description{
  text-align: initial;
  align-items: center;
}
.projects_img{
  width: 120px;
  height: ;
  max-width: ;
}
.contact_container{
  padding: 1rem 0;
  margin-top: -8rem;
}
.contact_box{
  padding: 2rem 0;
}
.contact_head{
  margin-top: 7rem;
}
.contact_title{
  font-size: 2rem;
}
.contact_form{
  margin-top: 2rem;
}
.contact_input{
  width: 400px;
  max-width: 100%;
}
.footer_row{
display: flex;
flex-direction: column; 
}
.footer_copy{
text-align: initial;
padding: 0 1.5rem;
}
}
/*--------For smaller devices---------*/
@media screen and (max-width: 320px){
.container{

}
.projects_img{
  width: 80px;
}
.projects_topic{
  margin-top: 0.5rem;
  text-align: center;
}
.contact_input{
  width: ;
}
/* For medium devices */
@media screen and (min-width: 576px){

}
/* For large devices */
@media screen and (max-width: 1200px){
  .container{
    margin-left: ;
    margin-right: ;
  }
  .nav_profile{
    margin-right: ;
  }



































  
  
 
